.login_button {
    margin: 5px 0px;
    padding: 6px 10px;
    background-color: #A66CFF;
    color: white;
    width: 100%;
    border: 2px solid #A66CFF;
    border-radius: 6px;
}

.login_button:hover {
    border: 2px solid #A66CFF;
    background-color: white;
    color: #A66CFF;
}    