.container {
    width: 100%;
    display: flex;

    .sub_container_one {
        align-items: center;
        width: 40%;
        overflow: hidden;
        height: 100vh;
        background-color: #50c99f;
        display: flex;
        justify-content: center;

        .campus_logo_text {
            max-width: 600px;
            height: 100vh;
            text-align: center;
            justify-content: center;
            width: 40%;
            display: flex;
            position: absolute;
            top: 0;
            flex-direction: column;
            align-items: center;
        }

        .campus_logo {
            font-size: 75px;
            width: 100%;
            margin-bottom: 25px;
            color: white;
        }

        .campus_text {
            font-size: 50px;
            text-align: center;
            margin-bottom: 35px;
            color: white;
        }

        .campus_para {
            width: 280px;
            font-weight: 600;
            letter-spacing: 1px;
            line-height: 1.5;
            font-size: 15px;
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-style: oblique;
        }
    }

    .main_container {
        background-color: #50c99f;
        width: 60%;

        .sub_container_two {
            background-color: white;
            height: 100vh;
            width: 100%;
            justify-content: center;
            display: flex;
            border-top-left-radius: 70px;
            border-bottom-left-radius: 70px;
            flex-direction: column;
            align-items: center;

            .media_logo {
                display: none;
            }

            .logo_text_display {
                display: flex;
                align-items: center;
                font-size: 40px;
                color: #50c99f;
                gap: 10px;
                justify-content: center;

                .login_logo {
                    margin-bottom: 20px;
                    display: flex;
                    letter-spacing: 2px;
                    justify-content: center;
                    font-style: normal;
                }

                .campus_logo {
                    margin-bottom: 20px;
                }
            }

            .login_welcome {
                font-size: 17px;
                letter-spacing: 2px;
                font-weight: revert-layer;
                color: black;
                word-spacing: 3px;
            }

            .MainButton_Parent {
                display: flex;
                width: 100%;
                justify-content: center;
                margin: 13px 0;

                .button_width {
                    width: 300px;
                }
            }
        }
    }
}

@media only screen and (max-width: 899px) {
    .container {
        .sub_container_one {
            .campus_text {
                font-size: 45px;
            }

            .campus_para {
                font-size: 13px;
                width: 245px;
            }
        }
    }
}

@media only screen and (max-width: 749px) {
    .container {
        .sub_container_one {
            display: none;
        }

        .main_container {
            width: 100%;
            background-color: white;

            .sub_container_two {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
                border-bottom-left-radius: 0px;

                .sinUp_text {
                    margin-bottom: 15px;
                }

                .media_logo {
                    display: block;
                    font-size: 175px;
                    width: 100%;
                    color: #50c99f;
                }
            }
        }
    }
}