.main_container {
    background-color: #12ec36;
    width: 60%;

    .sub_container_two {
        width: 60%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .login_logo {
            font-size: 40px;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            color: #12ec36;
            font-style: oblique;
            font-style: normal;
        }

        .forget_input {
            width: 400px;
            margin-top: 35px;
        }

        .input {
            width: 100%;
            padding: 0px 0px;
            margin-bottom: 8px;
            border-radius: 100px;
        }
    }
}

@media only screen and (max-width: 899px) {
    .main_container {
        .sub_container_two {
            .forget_input {
                width: 300px;
            }
        }
    }
}