* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Main_sideNavbar {
    display: flex;
    height: 100vh;

    .Side_Navbar {
        width: 25%;
        align-items: center;
        display: flex;
        background-color: #A66CFF;
        flex-direction: column;
        text-align: center;
    }

    .logo_heading {
        padding: 25px 0;

        .campus_heading {
            font-size: 32px;
            color: white;
        }

        .campus_logo {
            font-size: 55px;
            color: white;
        }

    }

    .avater_div {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        color: white;
        align-items: center;
        margin-bottom: 15px;

        .navbar_avater {
            width: 100px;
            height: 100px;
            margin-bottom: 15px;
            border-radius: 50px;
        }

        .user_name {
            font-size: 15px;
        }
    }

    .data_div {
        display: flex;
        flex-direction: column;
        align-items: center;

        .main_mapmenu {
            background-color: aliceblue;
            color: #A66CFF;
            border: 2px solid #A66CFF;
            display: flex;
            flex-direction: row-reverse;
            gap: 10px;
            margin-bottom: 20px;
            justify-content: flex-end;
        }

        .main_mapmenu:hover {
            background-color: white;
            color: #A66CFF;
            border: 2px solid #A66CFF;
            width: 100%;
        }

        .map_menu {
            justify-content: flex-end;
            background-color: #A66CFF;
            color: white;
            border: 2px solid #A66CFF;
            display: flex;
            flex-direction: row-reverse;
            gap: 10px;
            margin-bottom: 20px;
        }

        .map_menu:hover {
            border: 2px solid #A66CFF;
            background-color: white;
            color: #A66CFF;
            width: 100%;
        }

    }

    .children {
        width: 75%;
        background-color: #A66CFF;
    }
}

@media only screen and (max-width: 750px) {
    .Main_sideNavbar {
        .logo_heading {
            .campus_heading {
                font-size: 28px;
            }
        }
    }


    @media only screen and (max-width: 699px) {
        .Main_sideNavbar {
            .Side_Navbar {
                display: none;
            }

            .children {
                width: 100%;
            }
        }
    }
}