.main_loader_div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;

    .loader_div {
        width: 100px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #50c99f;
    }
}