.container {
    width: 100%;
    display: flex;

    .sub_container_one {
        align-items: center;
        width: 40%;
        overflow: hidden;
        height: 100vh;
        background-color: #50c99f;
        display: flex;
        justify-content: center;

        .campus_logo_text {
            max-width: 600px;
            height: 100vh;
            text-align: center;
            justify-content: center;
            width: 40%;
            display: flex;
            position: absolute;
            top: 0;
            flex-direction: column;
            align-items: center;
        }

        .campus_logo {
            width: 35%;
            height: 14%;
        }

        .campus_text {
            font-size: 50px;
            text-align: center;
            margin-bottom: 35px;
            color: white;
        }

        .campus_para {
            width: 280px;
            font-weight: 600;
            letter-spacing: 1px;
            line-height: 1.5;
            font-size: 15px;
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-style: oblique;
        }
    }

    .main_container {
        background-color: #50c99f;
        width: 60%;

        .sub_container_two {
            background-color: white;
            height: 100vh;
            width: 100%;
            justify-content: center;
            display: flex;
            border-top-left-radius: 70px;
            border-bottom-left-radius: 70px;
            flex-direction: column;
            align-items: center;

            .media_logo {
                display: none;
            }

            .login_logo {
                font-size: 40px;
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
                color: #50c99f;
                font-style: normal;
            }

            .login_welcome {
                font-size: 14px;
                letter-spacing: 1px;
                font-weight: 400;
                color: rgb(168, 159, 159);
            }

            .login_input {
                width: 400px;
                margin-top: 35px;
            }

            .input {
                position: relative;
                width: 100%;
                padding: 0px 0px;
                margin-bottom: 8px;
                border-radius: 100px;
            }

            .input_eye {
                width: 100%;
                margin-bottom: 8px;
            }

            .eye-icon {
                font-size: 18px;
                margin: 7px 2px;
                background-color: white;
                padding: 11px 11px;
                cursor: pointer;
                position: absolute;
                right: 0;
            }

            .password-input-container {
                position: relative;
                display: grid;
                width: 100%;
            }

            .forget {
                display: flex;
                margin: 5px 0;
                width: 100%;
                justify-content: center;
            }

            .forget_button {
                width: fit-content;
                color: #50c99f;
            }

            .MainButton_Parent {
                display: flex;
                width: 100%;
                justify-content: center;
                margin: 13px 0;

                .button_width {
                    width: 300px;
                }

            }

            .error {
                font-size: small;
                color: red;
                padding-bottom: 4px;
            }

            .sinUp_text {
                gap: 5px;
                display: flex;
            }
        }
    }
}

@media only screen and (max-width: 899px) {
    .container {
        .sub_container_one {
            .campus_text {
                font-size: 45px;
            }

            .campus_para {
                font-size: 13px;
                width: 245px;
            }
        }

        .main_container {
            .sub_container_two {
                .login_input {
                    width: 300px;
                }
            }
        }
    }
}

@media only screen and (max-width: 749px) {
    .container {
        .sub_container_one {
            display: none;
        }

        .main_container {
            width: 100%;
            background-color: white;

            .sub_container_two {
                align-items: center;
                overflow: auto;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
                border-bottom-left-radius: 0px;
                justify-content: center;
                display: flex;
                height: 100vh;

                .sinUp_text {
                    margin-bottom: 15px;
                }

                .media_logo {
                    display: block;
                    // margin-top: 99px;
                }
            }
        }
    }
}