.login_button {
    margin: 5px 0px;
    padding: 4px 10px;
    background-color: #12ec36;
    color: white;
    width: 300px;    
    border: 2px solid #12ec36;
    border-radius: 6px;
}

.login_button:hover {
    border: 2px solid #12ec36;
    background-color: white;
    color: #12ec36;
}

