.modal_first {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: 1s ease;
    top: 0;
    left: 0;
    overflow: hidden;

    .modal_button {
        padding: 22px 18px;
        color: #50c99f;
        position: absolute;
        font-size: 24px;
        cursor: pointer;
    }

    .modal_sideNavbar {
        transition: 0.5s ease;
        display: flex;
        width: 40%;
        height: 100vh;
        z-index: 1300;

        .modal_Side_Navbar {
            position: relative;
            width: 100%;
            align-items: center;
            display: flex;
            background-color: #50c99f;
            flex-direction: column;
            text-align: center;
        }

        .cross_button {
            font-size: 18px;
            color: white;
            position: absolute;
            right: 9px;
            top: 6px;
            cursor: pointer;
        }


        .logo_heading {
            padding: 20px 0;

            .campus_heading {
                font-size: 32px;
                color: white;
                margin-bottom: 10px;
            }

            .campus_logo {
                width: 54%;
                height: 14%;
            }
        }

        .avater_div {
            display: flex;
            width: 100%;
            justify-content: center;
            flex-direction: column;
            color: white;
            align-items: center;
            padding-top: 8px;

            .navbar_avater {
                width: 100px;
                height: 100px;
                margin-bottom: 15px;
                border-radius: 50px;
            }

            .user_name {
                font-size: 20px;
            }
        }

        .data_div {
            display: flex;
            flex-direction: column;
            align-items: center;

            .main_mapmenu {
                background-color: aliceblue;
                color: #50c99f;
                border: 2px solid #50c99f;
                display: flex;
                gap: 10px;
                margin-bottom: 20px;
                justify-content: flex-start;
            }

            .main_mapmenu:hover {
                background-color: white;
                color: #50c99f;
                border: 2px solid #50c99f;
                width: 100%;
            }

            .map_menu {
                justify-content: flex-start;
                background-color: #50c99f;
                color: white;
                border: 2px solid #50c99f;
                display: flex;
                gap: 10px;
                margin-bottom: 20px;
            }

            .map_menu:hover {
                border: 2px solid #50c99f;
                background-color: white;
                color: #50c99f;
                width: 100%;
            }
        }
    }

    .modal_second {
        background-color: rgba(0, 0, 0, 0.23);
        width: 60%;
        transition: 0.5s ease;
        position: absolute;
        display: flex;
        top: 0;
        right: 0;
        height: 100vh;
        z-index: 1250;
    }

    .nonclass {
        margin-left: -40% !important;
    }

    .modal_none {
        margin-right: -60% !important;
    }

    .children {
        width: 75%;
        background-color: #50c99f;
    }
}

@media only screen and (max-width: 749px) {
    .modal_sideNavbar {
        .logo_heading {
            .campus_heading {
                font-size: 28px;
            }
        }
    }

    @media only screen and (max-width: 749px) {
        .modal_first {
            display: flex;
        }

        .modal_sideNavbar {
            .children {
                background-color: transparent;
                width: 100%;
            }
        }
    }

    @media only screen and (max-width: 499px) {
        .modal_first {
            .modal_sideNavbar {
                width: 50%;
            }

            .nonclass {
                margin-left: -50% !important;
            }
        }

    }

    @media only screen and (max-width: 375px) {
        .modal_first {
            .modal_sideNavbar {
                width: 100%;
            }

            .nonclass {
                margin-left: -100% !important;
            }
        }
    }
}

@media only screen and (max-width: 749px) {
    .modal {
        display: block;
    }
}