.main_container {
    background-color: #A66CFF;
    width: 60%;

    .sub_container_two {
        width: 60%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .Signup_input {
            width: auto;
            margin-top: 35px;
        }

        .input {
            position: relative;
            width: 100%;
            padding: 0px 0px;
            margin-bottom: 15px;
            border-radius: 100px;
        }

        .input_eye {
            width: 100%;
            margin-bottom: 15px;
        }

        .select {
            margin-bottom: 15px;
        }

        // .eye-icon {
        //     font-size: 18px;
        //     position: absolute;
        //     right: 0;
        //     padding-right: 10px;
        //     padding-top: 18px;
        //     cursor: pointer;
        // }


        .password-input-container {
            display: grid;
            position: relative;
            width: 100%;
        }

        .login_input_display {
            display: flex;
            gap: 4%;
        }

        .input {
            width: 100%;
            padding: 0px 0px;
            margin-bottom: 15px;
            border-radius: 100px;
        }

        .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
            width: 100%;
        }

        .forget {
            display: flex;
        }

        .forget_button {
            width: fit-content;
        }
    }
}

@media only screen and (max-width: 699px) {
    .container {
        overflow: hidden;

        .main_container {
            overflow: hidden;

            .sub_container_two {
                // overflow: scroll;
                // height: fit-content !important;

                .Signup_input{
                    width: 300px;
                }

                .login_input_display {
                    flex-direction: column;
                }
            }
        }
    }

}