th {
    color: white !important;
    border-left: 1px solid #e7e4e4;
    text-align: center !important;
}

td {
    border: 1px solid #e7e4e4;
    text-align: center !important;
}

.tablecontainer_class {
    display: flex;
    width: 100%;
    height: 70vh;
    border-radius: 7px;
    margin-top: 115px;
    z-index: 1200;
    position: relative;
    justify-content: center;

    .child_table {
        width: 100%;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // text-align: center;
    }

    .table_class {
        min-width: 650px;
        display: ruby-text;

        .table_head_class {
            background-color: #50c99f;
            border-radius: 10px;
        }

        .tablecell_btn {
            width: 100px;
            height: 30px;
            margin: 0;
        }
    }
}